 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/0b0a266ea58bfc89515d5362f1ec8320.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 702px;
  min-height: 300px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 4.5rem;
  margin: 48px 36px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 499px;
  font-size: 1.25rem;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 679px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 432px;
    margin-top: 159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 16px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 333px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: 306px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    width: 316px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
  }
} .u-section-2 {
  min-height: 675px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 45px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 539px;
  background-image: url("images/0e84c55db0cfa48d54fec9b7fed46a6a.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 25px;
}

.u-section-2 .u-shape-1 {
  background-image: none;
}

.u-section-2 .u-text-2 {
  margin: 314px 39px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 31px 25px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/0b0a266ea58bfc89515d5362f1ec8320-8.jpeg");
  min-height: 539px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-2 .u-shape-2 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  margin: 314px 0 0 20px;
}

.u-section-2 .u-text-5 {
  margin: 31px 0 0 20px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/b44e708bef1568a61a506283bd57bb10.jpeg");
  min-height: 544px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-2 .u-shape-3 {
  background-image: none;
}

.u-section-2 .u-text-6 {
  margin: 314px 174px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 31px 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 587px;
  }

  .u-section-2 .u-image-1 {
    min-height: 599px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 41px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 275px;
    margin-right: 83px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 83px;
  }

  .u-section-2 .u-image-2 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 16px;
    padding-left: 8px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-3 {
    min-height: 599px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 143px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 775px;
  }

  .u-section-2 .u-image-1 {
    min-height: 639px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 639px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 13px;
    padding-left: 6px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 295px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 51px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-3 {
    min-height: 639px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 294px;
    margin-right: 110px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 51px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1597px;
  }

  .u-section-2 .u-image-1 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 328px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 206px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 50px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1071px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 336px;
    margin-right: 24px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: 23px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-2 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 6px;
    padding-left: 15px;
  }

  .u-section-2 .u-text-4 {
    width: NaNpx;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-3 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 47px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 52px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/154f77fa88e46bb3b624a3e712922a07d1a2586d7a0f2d15e0f7c763a0187777d917ad85cb06075b574226973c896546920eba954c8ea93cbd079a_1280.jpg");
  min-height: 484px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 79px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    background-position: 15.56% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 783px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 177px;
  margin: 45px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 31px auto 73px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 229px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px 20px 0 97px;
}

.u-section-4 .u-text-4 {
  margin: 25px 20px 25px 97px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 229px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px 20px 0 97px;
}

.u-section-4 .u-text-6 {
  margin: 25px 20px 25px 97px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 229px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px 20px 0 97px;
}

.u-section-4 .u-text-8 {
  margin: 25px 20px 25px 97px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 229px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px 20px 0 97px;
}

.u-section-4 .u-text-10 {
  margin: 25px 20px 25px 97px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 470px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
    position: relative;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
    position: relative;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
    position: relative;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 360px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-4 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-6 {
    width: NaNpx;
    margin-right: 13px;
    margin-bottom: 30px;
    margin-left: 97px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 231px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-8 {
    width: NaNpx;
    margin-right: 13px;
    margin-bottom: 3px;
    margin-left: 97px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 231px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-9 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-10 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 338px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 9px;
    margin-bottom: 30px;
    margin-left: 93px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 9px;
    margin-bottom: 25px;
    margin-left: 93px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 9px;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 283px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 6px;
    margin-bottom: 25px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 6px;
    margin-bottom: 3px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 6px;
    margin-bottom: 3px;
    margin-left: 90px;
  }
} .u-section-5 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 539px;
  background-image: url("images/7c1a2e5da573a56185ec4d928a48e6aa.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 0 32px;
}

.u-section-5 .u-text-1 {
  margin: 385px 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 69px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(200,185,238,0.6), rgba(200,185,238,0.6)), url("images/6fe01550f9d5634d63cc3fb22568de2d.jpeg");
  min-height: 539px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-text-2 {
  margin: 385px 20px 0 0;
}

.u-section-5 .u-line-2 {
  width: 69px;
  height: 6px;
  transform-origin: left center 0;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(255,81,38,0.6), rgba(255,81,38,0.6)), url("images/7f947c6e014d9fa4e9d4e57fb191bb29.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-text-3 {
  margin: 385px 80px 0 0;
}

.u-section-5 .u-line-3 {
  width: 69px;
  height: 6px;
  transform-origin: left center 0;
  margin: 20px auto 50px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 557px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 557px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 67px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    min-height: 557px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-line-2 {
    width: 57px;
  }

  .u-section-5 .u-image-3 {
    min-height: 557px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 174px;
  }

  .u-section-5 .u-line-3 {
    width: 57px;
    transform-origin: left center 0px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 587px;
  }

  .u-section-5 .u-image-1 {
    min-height: 587px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 51px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 587px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-line-2 {
    width: 44px;
  }

  .u-section-5 .u-image-3 {
    min-height: 587px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 51px;
  }

  .u-section-5 .u-line-3 {
    width: 44px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1674px;
  }

  .u-section-5 .u-image-1 {
    min-height: 774px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 609px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-2 {
    min-height: 450px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 294px;
    margin-right: 149px;
    margin-left: 29px;
  }

  .u-section-5 .u-line-2 {
    width: 69px;
    transform-origin: left center 0px;
    margin-left: 29px;
  }

  .u-section-5 .u-image-3 {
    min-height: 450px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 291px;
    margin-right: 9px;
    margin-left: 29px;
  }

  .u-section-5 .u-line-3 {
    width: 69px;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1133px;
  }

  .u-section-5 .u-image-1 {
    min-height: 502px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 379px;
    margin-right: 64px;
    margin-left: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
    transform-origin: right center 0px;
    margin-left: 16px;
  }

  .u-section-5 .u-image-2 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 375px;
    margin-right: 40px;
    margin-left: 34px;
  }

  .u-section-5 .u-line-2 {
    width: 34px;
    margin-left: 34px;
  }

  .u-section-5 .u-image-3 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 379px;
    margin-right: 88px;
    margin-left: 34px;
  }

  .u-section-5 .u-line-3 {
    width: 34px;
    margin-left: 34px;
  }
}.u-block-06d8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-06d8-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -40px);
  width: 55px;
  top: 279px;
  height: 103px;
  right: auto;
  padding: 0;
}

.u-block-06d8-4 {
  position: absolute;
  width: 55px;
  left: auto;
  top: 280px;
  height: 103px;
  right: calc(((100% - 1140px) / 2)  + 373px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-06d8-3 {
    left: calc(((100% - 940px) / 2)  + -33px);
  }

  .u-block-06d8-4 {
    right: calc(((100% - 940px) / 2)  + 273px);
  }
}

@media (max-width: 991px) {
  .u-block-06d8-3 {
    left: calc(((100% - 720px) / 2)  + -25px);
  }

  .u-block-06d8-4 {
    right: calc(((100% - 720px) / 2)  + 163px);
  }
}

@media (max-width: 767px) {
  .u-block-06d8-3 {
    left: calc(((100% - 540px) / 2)  + -19px);
  }

  .u-block-06d8-4 {
    right: calc(((100% - 540px) / 2)  + 73px);
  }
}

@media (max-width: 575px) {
  .u-block-06d8-3 {
    left: calc(((100% - 340px) / 2)  + -12px);
  }

  .u-block-06d8-4 {
    right: calc(((100% - 340px) / 2)  + -27px);
  }
}

 .u-section-6-1 {
  background-image: none;
  min-height: 744px;
}

.u-section-6-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-6-1 .u-image-1 {
  min-height: 614px;
  background-image: url("images/6ae1441cba54f895e7522d4e1ccd0b5b.jpeg");
  background-position: 50% 50%;
}

.u-section-6-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 614px;
  background-image: none;
}

.u-section-6-1 .u-container-layout-2 {
  padding-left: 84px;
}

.u-section-6-1 .u-icon-1 {
  height: 89px;
  width: 89px;
  margin: 60px auto 0 0;
}

.u-section-6-1 .u-text-1 {
  margin: 60px 84px 0 0;
}

.u-section-6-1 .u-text-2 {
  margin: 15px 84px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-6-1 {
    min-height: 644px;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 69px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-container-layout-2 {
    padding-left: 53px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 53px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-image-1 {
    background-position: 70.17% 50%;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-6-1 {
    min-height: 1258px;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 25px;
  }
}

 .u-section-6-2 {
  min-height: 744px;
}

.u-section-6-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-6-2 .u-image-1 {
  min-height: 614px;
  background-image: url("images/fdfed9bbd06bc31e5a6e16c3dbafa2936e95462232188844b26a39a3839a22ef0552fa10f7aa1dada4a81567695f58c863b5bbd2e0cadf3489c8b8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-2 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-6-2 .u-layout-cell-2 {
  min-height: 614px;
  background-image: none;
}

.u-section-6-2 .u-container-layout-2 {
  padding-left: 84px;
}

.u-section-6-2 .u-icon-1 {
  height: 89px;
  width: 89px;
  margin: 60px auto 0 0;
}

.u-section-6-2 .u-text-1 {
  margin: 60px 84px 0 0;
}

.u-section-6-2 .u-text-2 {
  margin: 15px 84px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-6-2 {
    min-height: 644px;
  }

  .u-section-6-2 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-6-2 .u-text-1 {
    margin-right: 69px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-container-layout-2 {
    padding-left: 53px;
  }

  .u-section-6-2 .u-text-1 {
    margin-right: 53px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-6-2 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-6-2 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 25px;
  }
}

 .u-section-6-3 {
  min-height: 744px;
}

.u-section-6-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-6-3 .u-image-1 {
  min-height: 614px;
  background-image: url("images/1ff6b05226ebe59235ebe03031d5ca048bb94500445136cbd73869826b1379b0e2bbb3b6dce9e5886b4d89bfb576eac4744e06f473db45f5510aea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-3 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-6-3 .u-layout-cell-2 {
  min-height: 614px;
  background-image: none;
}

.u-section-6-3 .u-container-layout-2 {
  padding-left: 84px;
}

.u-section-6-3 .u-icon-1 {
  height: 89px;
  width: 89px;
  margin: 110px auto 0 0;
}

.u-section-6-3 .u-text-1 {
  margin: 60px 84px 0 0;
}

.u-section-6-3 .u-text-2 {
  margin: 15px 84px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-6-3 {
    min-height: 644px;
  }

  .u-section-6-3 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-6-3 .u-text-1 {
    margin-right: 69px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-container-layout-2 {
    padding-left: 53px;
  }

  .u-section-6-3 .u-text-1 {
    margin-right: 53px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-6-3 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-6-3 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 25px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 193px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 61px auto 61px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-1 {
  height: 41px;
  margin: 3px auto;
}

.u-section-7 .u-image-2 {
  min-height: 100px;
  background-image: url("images/95703ed71a07b4386b41f598e167d03f.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 100px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-3 {
  height: 41px;
  margin: 3px auto;
}

.u-section-7 .u-image-4 {
  min-height: 100px;
  background-image: url("images/2958df0add82c86901ed8826b021e199.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 100px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-5 {
  height: 41px;
  margin: 3px auto;
}

.u-section-7 .u-image-6 {
  min-height: 100px;
  background-image: url("images/89c4eac27392b14b83e6b0037c64454e.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 252px;
}

.u-section-8 .u-group-1 {
  min-height: 196px;
  width: 800px;
  margin: 30px auto 26px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 79px;
}

.u-section-8 .u-text-1 {
  margin: 25px 40px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 660px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 49px;
    padding-left: 65px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
    position: relative;
  }

  .u-section-8 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 505px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 38px;
    padding-left: 50px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 474px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 18px;
    padding-left: 4px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/c0a78be8f70644202aa35c1e30709754.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 629px;
}

.u-section-9 .u-group-1 {
  width: 663px;
  min-height: 195px;
  margin: 50px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-9 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 311px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-1 {
  width: 143px;
  height: 143px;
  background-image: url("images/017d071ec905c8b59b07af2bb8e28311.jpeg");
  background-position: 50% 50%;
  margin: 27px auto 0;
}

.u-section-9 .u-text-4 {
  margin: 30px 20px 0;
}

.u-section-9 .u-text-5 {
  margin: 7px 20px 27px;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 311px;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-2 {
  width: 143px;
  height: 143px;
  background-image: url("images/02a1c2efb69157b671fe250415edf429.jpeg");
  background-position: 50% 50%;
  margin: 27px auto 0;
}

.u-section-9 .u-text-6 {
  margin: 30px 20px 0;
}

.u-section-9 .u-text-7 {
  margin: 7px 20px 27px;
}

.u-section-9 .u-layout-cell-3 {
  background-image: none;
  min-height: 311px;
}

.u-section-9 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-3 {
  width: 143px;
  height: 143px;
  object-position: 92.03% 50%;
  background-position: 50% 50%;
  background-image: url("images/de509627afec3e8283d150634a74395c.jpeg");
  margin: 43px auto 0;
}

.u-section-9 .u-text-8 {
  margin: 30px 20px 0;
}

.u-section-9 .u-text-9 {
  margin: 7px 20px 27px;
}

.u-section-9 .u-layout-cell-4 {
  background-image: none;
  min-height: 311px;
}

.u-section-9 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-4 {
  width: 143px;
  height: 143px;
  object-position: 92.03% 50%;
  background-position: 50% 50%;
  background-image: url("images/bded043ad44af2687e14a2c7fd95c98a.jpeg");
  margin: 43px auto 0;
}

.u-section-9 .u-text-10 {
  margin: 30px 20px 0;
}

.u-section-9 .u-text-11 {
  margin: 7px 20px 27px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 547px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-9 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    width: 118px;
    height: 118px;
  }

  .u-section-9 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-image-2 {
    width: 118px;
    height: 118px;
  }

  .u-section-9 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-image-3 {
    width: 118px;
    height: 118px;
    margin-top: 30px;
  }

  .u-section-9 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .u-section-9 .u-image-4 {
    width: 118px;
    height: 118px;
    margin-top: 30px;
  }

  .u-section-9 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 419px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-1 {
    width: 90px;
    height: 90px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-2 {
    width: 90px;
    height: 90px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-3 {
    width: 90px;
    height: 90px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-4 {
    width: 90px;
    height: 90px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 393px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-1 {
    width: 84px;
    height: 84px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-2 {
    width: 84px;
    height: 84px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-3 {
    width: 84px;
    height: 84px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-4 {
    width: 84px;
    height: 84px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 330px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-1 {
    width: 71px;
    height: 71px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-2 {
    width: 71px;
    height: 71px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-3 {
    width: 71px;
    height: 71px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-4 {
    width: 71px;
    height: 71px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 614px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-10 .u-image-1 {
  background-image: url("images/6b54f76614e4fde2dd479b578c3f8611.jpeg");
  min-height: 484px;
  background-position: 50% 50%;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 44px 20px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 79px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 11px 79px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px auto 44px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-10 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 24px;
  }
}